<div class="example">
	<h3>Single select dropdown with <strong>preset value</strong> select: </h3>

	<ng2-selectize [config]="singleSelectConfig" [options]="singleSelectOptions" [placeholder]="placeholder"
				   [(ngModel)]="singleSelectValue" ngDefaultControl></ng2-selectize>
	<div class="form-inline">
		<div class="ui segment">
			<p>Current value: {{singleSelectValue | json}}</p>
		</div>
	</div>
</div>


<div class="example">
	<h3>Multi select dropdown with <strong>preset value</strong> select: </h3>

	<ng2-selectize [config]="multiSelectConfig" [options]="multiSelectOptions" [placeholder]="placeholder"
				   [(ngModel)]="multiSelectValue" ngDefaultControl></ng2-selectize>
	<div class="form-inline">
		<div class="ui segment">
			<p>Current value: {{multiSelectValue | json}}</p>
		</div>
	</div>
</div>



