<dynamic-options-example></dynamic-options-example>

<multi-select-example></multi-select-example>

<placeholder-state-example></placeholder-state-example>

<state-toggle-example></state-toggle-example>

<div class="example">
	<label>Option groups example</label>
	<ng2-selectize [config]="optionGroupExampleConfig"
				   [options]="optionGroupExampleOptions"
				   [optionGroups]="optionGroupExampleGroups"></ng2-selectize>
</div>


<div class="example">
	<form-example></form-example>
</div>


<preset-value-example></preset-value-example>