<div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0">
	<md-sidenav-layout style="height: 100%;">
		<md-sidenav #start>
			<button md-button (click)="start.close()">
				<md-icon>menu</md-icon>
			</button>
		</md-sidenav>
		<md-toolbar [color]="primary">
			<button md-button (click)="start.open()">
				<md-icon>menu</md-icon>
			</button>
			<div>
				ng2-selectize
			</div>
		</md-toolbar>
		<div class="examples">
			<h1>{{title}}</h1>
			<div>
				<label>Dynamically add options to <strong>Multi</strong> select: </label>
				<input type="text" ng2-selectize
					   [config]="multiSelectDynamicAddConfig"
					   [options]="multiSelectDynamicAddOptions"
					   [placeholder]="multiSelectDynamicAddPlaceholder"
					   (onValueChange)="onSelectizeValueChange($event)"/>

				<button (click)="addMultiSelectDynamicAddOption()">Add Option</button>
				<input type="text" [(ngModel)]="multiSelectDynamicAddPlaceholder"/>
			</div>
			<div>
				<label>Dynamically add options to <strong>Single</strong> select</label>
				<input type="text" ng2-selectize
					   [config]="singleSelectDynamicAddConfig"
					   [options]="singleSelectDynamicAddOptions"
					   (onValueChange)="onSelectizeValueChange($event)"/>
				<button (click)="addSingleSelectDynamicAddOption()">Add Option</button>
			</div>
		</div>
	</md-sidenav-layout>
</div>