<div class="example">
	<label>Dynamically add options to <strong>Multi</strong> select: </label>
	<input type="text" ng2-selectize
		   [config]="multiSelectDynamicAddConfig"
		   [options]="multiSelectDynamicAddOptions"
		   [placeholder]="multiSelectDynamicAddPlaceholder"
		   (onValueChange)="printValue($event)"/>
	<div class="form-inline">
		<div class="form-group">
			<button class="btn btn-primary" (click)="addMultiSelectDynamicAddOption()">Add Option</button>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" [(ngModel)]="multiSelectDynamicAddPlaceholder" />
		</div>
	</div>
</div>

<div class="example">
	<label>Dynamically add options to <strong>Single</strong> select</label>
	<input type="text" ng2-selectize
		   [config]="singleSelectDynamicAddConfig"
		   [options]="singleSelectDynamicAddOptions"
		   (onValueChange)="printValue($event)"/>
	<button class="btn btn-primary" (click)="addSingleSelectDynamicAddOption()">Add Option</button>
</div>

<div class="example">
	<label>Preset placeholders for hasOptions/noOptions state</label>
	<input type="text" ng2-selectize
		   [config]="multiSelectDynamicAddConfig"
		   [options]="hasOrDoesntHaveOptions"
		   (onValueChange)="printValue($event)"
		   [noOptionsPlaceholder]="noOptionsPlaceholderText"
		   [hasOptionsPlaceholder]="hasOptionsPlaceholderText"
	/>
	<div class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-xs-5 col-sm-5 col-md-5 col-lg-5">Placeholder when has options:</label>
			<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
				<input type="text" class="form-control" [(ngModel)]="hasOptionsPlaceholderText" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-5 col-sm-5 col-md-5 col-lg-5">Placeholder when no options:</label>
			<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
				<input type="text" class="form-control" [(ngModel)]="noOptionsPlaceholderText" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<button class="btn btn-primary" (click)="addOptionsToHaveOrNotExample()">Add Option</button>
				<button class="btn btn-secondary" (click)="clearHasOrNotExample()">Clear Options</button>
			</div>
		</div>
	</div>
</div>

<div class="example">
	<label>Dynamically update enabled/disabled state</label>
	<input type="text" ng2-selectize
		   #enabledDisabledValue
		   [config]="multiSelectDynamicAddConfig"
		   [options]="exampleStaticOptions"
		   (onValueChange)="printValue($event)"
		   [enabled]="selectizeIsEnabled"
	/>
	<div>
		<button class="btn btn-primary" (click)="toggleEnabledState()">Toggle Enabled State</button>
		<span>Is Enabled: <strong>{{selectizeIsEnabled}}</strong></span>
		<span>Value: <strong>{{enabledDisabledValue.value}}</strong></span>
	</div>
</div>

<div class="example">
	<label>Option groups example</label>
	<input type="text" ng2-selectize
		   [config]="optionGroupExampleConfig"
		   [options]="optionGroupExampleOptions"
		   [optionGroups]="optionGroupExampleGroups"
		   (onValueChange)="printValue($event)"
	/>
</div>