<div class="example">
	<label>Dynamically add options to <strong>Multi</strong> select: </label>
	<input type="text" ng2-selectize
		   [config]="multiSelectDynamicAddConfig"
		   [options]="multiSelectDynamicAddOptions"
		   [placeholder]="multiSelectDynamicAddPlaceholder"
		   (onValueChange)="printValue($event)"/>

	<button (click)="addMultiSelectDynamicAddOption()">Add Option</button>
	<input type="text" [(ngModel)]="multiSelectDynamicAddPlaceholder"/>
</div>

<div class="example">
	<label>Dynamically add options to <strong>Single</strong> select</label>
	<input type="text" ng2-selectize
		   [config]="singleSelectDynamicAddConfig"
		   [options]="singleSelectDynamicAddOptions"
		   (onValueChange)="printValue($event)"/>
	<button (click)="addSingleSelectDynamicAddOption()">Add Option</button>
</div>

<div class="example">
	<label>Preset placeholders for hasOptions/noOptions state</label>
	<input type="text" ng2-selectize
		   [config]="multiSelectDynamicAddConfig"
		   [options]="hasOrDoesntHaveOptions"
		   (onValueChange)="printValue($event)"
		   [noOptionsPlaceholder]="noOptionsPlaceholderText"
		   [hasOptionsPlaceholder]="hasOptionsPlaceholderText"
	/>
	<label>Placeholder when has options:</label>
	<input type="text" [(ngModel)]="hasOptionsPlaceholderText"/>
	<label>Placeholder when no options:</label>
	<input type="text" [(ngModel)]="noOptionsPlaceholderText"/>
	<div>
		<button (click)="clearHasOrNotExample()">Clear Options</button>
		<button (click)="addOptionsToHaveOrNotExample()">Add Options</button>
	</div>
</div>

<div class="example">
	<label>Dynamically update enabled/disabled state</label>
	<input type="text" ng2-selectize
		   #enabledDisabledValue
		   [config]="multiSelectDynamicAddConfig"
		   [options]="exampleStaticOptions"
		   (onValueChange)="printValue($event)"
		   [enabled]="selectizeIsEnabled"
	/>
	<div>
		<button (click)="toggleEnabledState()">Toggle Enabled State</button>
		<span>Is Enabled: <strong>{{selectizeIsEnabled}}</strong></span>
		<span>Value: <strong>{{enabledDisabledValue.value}}</strong></span>
	</div>
</div>